body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 50%;
    margin: auto;
    height: 150vh;
}
.title {
    margin-bottom: 20px;
}

.cUdOkytcyj3VctFmSFBL {
  display: flex;
  justify-content: center;
}

.sp2r6y3coLITAE500Llv {
  display: flex;
  gap: 10px;
}

.tAWIHOnP1ug30RKamGjP {
  margin-top: 20px;
}

.S5F0P1auu3JeTTWvP52N {
  margin: 10px 0;
}

.vhGK8S5ITjS0zdIo0gvN {
  margin: 10px 0;
}

.FxxBMSK7fi01NtgkXAP3 {
  color: #3f3f3f;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dzd9aYLkIYFp3_KlvYxG {
  display: flex;
  gap: 10px;
}

