.popover__target {
  width: 76%;
}
.header {
  padding-bottom: 15px;
  border-bottom: solid 1px #dfdfdf;
}
.text__input {
  margin: 0 30px 30px 0;
  height: 65px;
}
.container__col {
  min-width: 42%;
  padding: 0px 40px 0 40px;
}
.add__button {
  background-color: #fafafa;
  padding: 15px 30px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.applied__reference {
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}

.dropdowns {
  margin-bottom: 20px;
  max-width: 200px;
}

.popover__container {
  padding: 10px;
}

.apply__button {
  margin-top: 20px;
  width: 100%;
}
