.main__container {
  margin: 50px 0;
  display: flex;
  gap: 30px;
}
.container__col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.read__label {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #212529;
}
.read__value {
  padding-top: 12px;
  font-size: 14px;
  color: #212529;
  margin-bottom: 25px;
}

.applied__reference {
  cursor: pointer;
  color: #8e8e8e;
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}

.applied__reference:hover {
  color: #6e6eec;
}
