.popover__target {
  width: 70%;
}
.main__container {
  padding: 0px 0 30px 40px;
  border-right: solid 1px #dfdfdf;
}
.container__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.text__input {
  margin: 0 30px 30px 0;
  height: 65px;
}
.container__col {
  min-width: 47%;
  margin-top: 10px;
}
.add__button {
  background-color: #e9e9e9;
  padding: 15px 30px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.applied__reference {
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}

.dropdowns {
  margin-bottom: 20px;
}

.popover__container {
  padding: 10px;
}

.apply__button {
  margin-top: 20px;
  width: 100%;
}

.skills__header {
  font-weight: 500;
}
.skills__item {
  padding: 15px 10px 10px 0;
  font-size: 14px;
}

.skills__input {
  width: 200px;
  margin: 10px 0;
}

.circular__add {
  width: 16px;
  height: 12px;
  background-color: #3f3f3f;
  color: #e9e9e9;
  border-radius: 50%;
  padding-bottom: 5px;
}

.append__array_btn {
  cursor: pointer;
  text-align: center;
  display: flex;
  gap: 5px;
  margin-top: 20px;
  font-size: 12px;
  color: #3f3f3f;
}
