.popover__flex {
  display: flex;
}
.popover__input {
  width: 70%;
}

.dropdowns {
  padding: 20px 10px;
}

.popover__container {
  width: 50%;
  margin: 20px 50px 0;
}

.popover__soi_input {
  margin: 20px 0;
  width: 30%;
}

.previous__updated_container {
  font-size: 14px;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

.previous__updated_col {
  padding: 20px 40px;
  border-right: solid 1px #dfdfdf;
}

.previous__updated_content {
  margin: 5px 0 20px 0;
  color: black;
  font-weight: 500;
}

.previous__updated_label {
  font-size: 12px;
  color: #3f3f3f;
}

.icon {
  cursor: pointer;
  margin: 48px 0 0 20px;
}
